<%- include('partials/header'); -%>

<h4>Hand 1:</h4>
<h1>
    <% playerHand1.forEach(function(item){ %>
    <%= item.name %> <%= item.type %> 
    &emsp;
    <% }) %>
    
</h1>
<p>Your best total is: <%= playerBestTotal1 %></p>

<h4>Hand 2:</h4>
<h1>
    <% playerHand2.forEach(function(item){ %>
    <%= item.name %> <%= item.type %> 
    &emsp;
    <% }) %>
    
</h1>
<p>Your best total is: <%= playerBestTotal2 %></p>

<h1>Both hands busted! You lose $<%= bet %>!</h1>
<h1><a href="/playAgain"><%= options %></a></h1>

<%- include('partials/footer'); -%>