<h1><%= title %> <%= bet %>!</h1>
<h2>You now have: $<%= bank %></h2>
<h2>Dealer has: </h2>
<ul>
  <% dealerHand.forEach(function(item){ %>
    <li><%= item.name %> <%= item.type %> </li>
  <% }) %>
</ul>
<h2>Your cards are: </h2>
<ul>
  <% playerHand.forEach(function(item){ %>
    <li><%= item.name %> <%= item.type %> </li>
  <% }) %>
</ul>
<h2>Your options are: </h2>
<ul>
  <li><a href="/again">Play Again</a></li>
</ul>

<h3>Your best total is: <%= playerBestTotal %></h3>
<h3>The dealers best total is: <%= dealerBestTotal %></h3>
