<%- include('partials/header'); -%>
<div class = "container">
<h2>Dealer has: </h2>
  <ul>
    <% dealerHand.forEach(function(item){ %>
      <li><%= item.name %> <%= item.type %> </li>
    <% }) %>
  </ul>
  <h2>Hand 1: </h2>
  <ul>
    <% playerHand3.forEach(function(item){ %>
      <li><%= item.name %> <%= item.type %> </li>
    <% }) %>
  </ul>

  <h2>Hand 2: </h2>
  <ul>
    <% playerHand2.forEach(function(item){ %>
      <li><%= item.name %> <%= item.type %> </li>
    <% }) %>
  </ul>

  <h2>Your options are: </h2>
  <ul>
    <li><a href="/again">Play Again</a></li>
  </ul>
  
  <h3>Your hand 1 total is: <%= player3BestTotal %></h3>
  <h3>Your hand 2 total is: <%= player2BestTotal %></h3>

  <h3>The dealers best total is: <%= dealerBestTotal %></h3>
  
</div>
<%- include('partials/footer'); -%>
